Clase 02/schemaExample.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="altura">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="987"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="apellido">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Rios"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="calle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" qwerty"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="nombre"/>
				<xs:element ref="apellido"/>
				<xs:element ref="domicilio"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="domicilio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="calle"/>
				<xs:element ref="altura"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="123"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kevin"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
